<!doctype html>
html
  head
    title ГОСА
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link( rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    style.
      hr {
        -moz-border-bottom-colors: none;
        -moz-border-image: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: #EEEEEE -moz-use-text-color #FFFFFF;
        border-style: solid none;
        border-width: 1px 0;
        margin: 18px 0;
      }
      input:focus, textarea:focus{
        outline:0;
      }
      textarea.selected{
        border-color: red;
        background-color: #ffef2d3d;
      }
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="/lib/axios.min.js"></script>
  body
    #app.container Admin
      hr
      div(v-for="hall in halls")
        h4 {{hall.id}} {{hall.lang}}
        select.form-select(v-model="hall.state" v-on:change="hallChange(hall)")
          option( value="0" ) Заглушка
          option( value="1" ) Рабочий
          option( value="2" ) Резервный
        .mt-3.mb-3(style="display:flex")
          div(style="width: 33%;")
            div Заглушка
            textarea.textarea(style="width: 100%;height: 6em;" v-model="hall.codes.z" v-on:change="hallChange(hall)" v-bind:class="{selected:hall.state==0}")
          div(style="width: 33%;")
            div Рабочий
            textarea.textarea(style="width: 100%;height: 6em;" v-model="hall.codes.o" v-on:change="hallChange(hall)" v-bind:class="{selected:hall.state==1}")
          div(style="width: 33%;")
            div Резервный
            textarea.textarea(style="width: 100%;height: 6em;" v-model="hall.codes.b" v-on:change="hallChange(hall)" v-bind:class="{selected:hall.state==2}")
    script.
      var app=new Vue({
        el:"#app",
        data:{
           halls:[],
        },
        methods: {
          updateHalls:async function () {
          var res=await axios.get("/api/halls");
          this.halls=res.data;
          console.log(res)
          },
          hallChange:async function(hall){

            await axios.post("/api/hall", {hall});
          }
        },
        mounted:function () {
          console.log("vue worked")
          this.updateHalls();
        }
      })