doctype html
html
    head
        title Трансляция
        <meta charset="UTF-8">
        <meta name="description" content="sber conference">
        <meta name="keywords" content="sber">
        <meta name="author" content="">
        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
        <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
        <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
        <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/icon512.png" rel="apple-touch-icon" sizes="512x512">
        <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/icon120.png" rel="apple-touch-icon" >
        <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/android-chrome-512x512.png" rel="android-touch-icon" sizes="512x512">
        <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/android-chrome-192x192.png" rel="android-touch-icon" sizes="192x192">
        <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/icon32.png" rel="icon" sizes="32x32" type="image/png">
        <link href="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/icon16.png" rel="icon" sizes="16x16" type="image/png">
        <link href="/favicon.ico" rel="shortcut icon" >
        <meta name="msapplication-TileImage" content="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/icon144.png" >
        <meta name="msapplication-square70x70logo" content="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/icon70.png" >
        <meta name="msapplication-square150x150logo" content="https://sber.ru/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/apple-touch-icon-180x180.png/portalserver/static/templates/%5BBBHOST%5D/SberruMasterpageTemplate/static/icon150.png" >
        <meta name="theme-color" content="#ffffff">
        <meta property="og:locale" content="ru_RU">
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://front.sber.link/" />
        meta(property="og:title" content="SPIEF player")
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88562228-1"></script>
        <link href=" /stylesheets/reset.css" rel="stylesheet" />
        <link href=" /stylesheets/style.css" rel="stylesheet" />
        script.
            try {
                eval("let a=()=>{;;};")
            } catch (e) {
                console.log(e)
                document.location.href = "/badbrowser.html"
            }
        style.
            @font-face {
                font-family: 'Fedra Sans Pro';
                src: url('/fonts/FedraSansPro-Light.eot');
                src: url('/fonts/FedraSansPro-Light.eot?#iefix') format('embedded-opentype'),
                url('/fonts/FedraSansPro-Light.woff2') format('woff2'),
                url('/fonts/FedraSansPro-Light.woff') format('woff'),
                url('/fonts/FedraSansPro-Light.ttf') format('truetype');
                font-weight: 300;
                font-style: normal;
            }

            .breafastBox {
                width: 100%;
                max-width: 600px;
                margin: 0 auto;
                border-radius: 12px;
                overflow: hidden;
            }
    body()
        h4(style="font-family: 'Fedra Sans Pro';padding:12px;text-align: center;") Деловой завтрак Сбера
        .breafastBox
            .videoWrapper(style="overflow: hidden")
                <iframe src="https://front.sber.link/spief2022Iframe/21da542a-b3bf-4a7d-82ab-526ec019deb9/ru" width="1280" height="720" border="0"                                  style="overflow:hidden" frameBorder="0"                                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"                                  allowFullScreen=""></iframe>


        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-88562228-1');
