doctype html
html
  head
    title ATF
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link( rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet"/>
    link(href="/fonts/stylesheet.css" rel="stylesheet")
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <link href="/main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114681511-1"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);} gtag('js', new Date());gtag('config', 'UA-114681511-1'); </script>
    style.
      body{
        font-family: 'Open Sans', sans-serif;

      }
      .videoWrapper{
        position: relative;
      }
      .videoButtonsBox{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 1s ease;
      }
      .videoButtons {
        background: #deebed;
        border-radius: 12px;

      }
      .videoButtonsWr{
        display: flex;
      }
      .videoButton{

        box-shadow: 0px 8px 16px rgba(0, 115, 119, 0.08);
        border-radius: 12px;
        padding: 8px 108px;
        cursor: pointer;
        flex: 1 1 auto;
        margin: 5px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;

        /* identical to box height, or 160% */

        text-align: center;

        color: #007377;
      }
      .videoButton.active{
        background: #FFFFFF;
      }
      .videoButtonsBoxOpacity{
        opacity: .2;

      }
      .videoButtonsBoxOpacity:hover{
        opacity: 1;
      }
      @media all and (max-width:1024px) {
        .videoButton{
          padding: 8px 8px;
          font-size: 12px;
          line-height: 14px;
        }
      }



  body(style="opacity: 0;")
    div.videoWrapper
      video.video.video-js#my-video(style="" controls playsinline preload="auto" width="1280" height="720" poster="/images/fas.png" data-setup="{}")
      div.videoButtonsBox#videoButtonsBox
        .videoButtons
          .videoButtonsWr
            .videoButton#videoButton0(onclick="setSrcActive(0)") Поток 1
            .videoButton#videoButton1(onclick="setSrcActive(1)") Поток 2
    <script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
    script.
      var player = videojs('my-video');
      var data = !{JSON.stringify(data)}
      console.log(data)

      if(data.noFrame)
        document.getElementById('videoButtonsBox').style.display = "none";
      document.querySelector('body').style.opacity = 1;

      setSrcActive(data.stream)
      function setSrcActive(item) {
        player.src(data.url[item]);
        document.querySelectorAll(".videoButton").forEach(function (elem) {
          elem.classList.remove("active");
        });
        document.getElementById("videoButton"+item).classList.add("active");
        player.play();
      }
      setTimeout(function () {
        document.getElementById("videoButtonsBox").classList.add("videoButtonsBoxOpacity");
      }, 4000)
