doctype html
html
  head
      title ГОСА
      meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
      link( rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
      link(rel='stylesheet', href='/stylesheets/reset.css')
      link(href="/fonts/stylesheet.css" rel="stylesheet")
      link(rel='stylesheet', href='/stylesheets/style.css')
      <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
      block head
  body
    block content
