extends layout

block content
  style.
    .sel {
      background: yellow
    }
  div(style="padding:40px; display:flex;justify-content: center;font-size:22px")
    form(method="POST")
      div
        input(type="password" name="pass")
      div
        input(type="submit" value="Log in")

