doctype html
html
    head
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88562228-1"></script>
        <link href="/lib/video-js.css" rel="stylesheet"/>
        <script src="/lib/videojs-ie8.min.js"></script>
        script(src="/lib/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous")
        <link href="/fonts.css" rel="stylesheet"/>
        <link href="/lib/quality-selector.css" rel="stylesheet">
        <link href="/main.css" rel="stylesheet">

        style.
            #langSelector{
            position: absolute;
            top: 4px;
            right: 4px;
            cursor: pointer;
            color: white;
            padding: 4px;
            border: 1px solid white;
            border-radius: 8px;
            opacity: .5;
            transition: opacity .5s ease;
            background: rgba(0,0,0,.2);
            }
            #langSelector:hover{
                opacity: 1;

            }
        script.
            var hall = !{JSON.stringify(hall)};
            var lang = !{JSON.stringify(lang)};
    body(style="opacity: 0;")
        .videoWrapper#videoWrapper(style="background-image:url(/images/sorry_eng.png);background-position: center;background-size: contain;")

        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-88562228-1');

            document.body.style.opacity = 1;
