doctype html
html
    head
        title sber-pb
        <meta charset="UTF-8">
        <meta name="description" content="pb conference">
        <meta name="keywords" content="sber-pb">
        <meta name="author" content="">
        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <link href="/favicon.ico" rel="shortcut icon" >

        <meta name="theme-color" content="#ffffff">
        <meta property="og:locale" content="ru_RU">
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://front.sber.link/" />
        meta(property="og:title" content="SPIEF player")
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88562228-1"></script>

        <link href=" /stylesheets/reset.css" rel="stylesheet" />
        <link href=" /lib/video-js.css" rel="stylesheet" />
        <link href=" /stylesheets/style.css" rel="stylesheet" />
        script.
            try{ eval("let a=()=>{;;};")}
            catch (e) {
                console.log(e)
                document.location.href="/badbrowser.html"
            }

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    body(style="padding:20px")
        #app.container
            img.gvozdika(src="images/pion.png" v-if="section==1")
            ul.nav.nav-tabs.mb-4
                li.nav-item(v-on:click="section=0")
                    a.nav-link(v-bind:class="{active:section==0}" style="cursor:pointer") Статистика
                li.nav-item(v-on:click="section=1")
                    a.nav-link(v-bind:class="{active:section==1}" style="cursor:pointer") Управление
                li.nav-item(v-on:click="section=2")
                    a.nav-link(v-bind:class="{active:section==2}" style="cursor:pointer") Входящие rtmp
                li.nav-item(v-on:click="section=3")
                    a.nav-link(v-bind:class="{active:section==3}" style="cursor:pointer") Записи
            .statWr(v-if="section==3")
                table.table-bordered.mt-4.small.tabPAd
                    thead
                        td(style="padding:8px") Файл
                        td(style="padding:8px") Размер
                        td(style="padding:8px") &nbsp;
                    tbody
                        tr(v-for="item in records" )
                            td(style="padding:8px") {{item.name}}
                            td(style="padding:8px" style="width:150px;") {{item.size}}
                            td(style="padding:8px")
                                button.btn.btn-success.btn-sm Копировать ссылку
            .statWr(v-if="section==2")
                table.table-bordered.mt-4.small.tabPAd
                    thead
                        td(style="padding:8px") дата
                        td(style="padding:8px") НАЗВАНИЕ СЕССИИ
                        td(style="padding:8px") статус
                        td(style="padding:8px") URL русский
                        td(style="padding:8px") URL английский

                    tbody
                            tr(v-for="item in events" v-if="item.data.select<3")
                                td(style="padding:8px") {{moment(item.date).format('DD.MM  HH:mm')}}
                                td(style="padding:8px") {{item.data.title}}
                                td(style="padding:8px") {{item.data.select}}
                                td(style="padding:8px")
                                    div {{item.data.source ? ("rtmp://rtmp.sber.link/live/" + item.data.source.toLowerCase().trim() + "_ru") : ""}}
                                    div
                                        span.badge.bg-success(v-if="checkPublish(item.data.source.toLowerCase().trim(), 'ru')") Pub: {{checkPublish(item.data.source.toLowerCase().trim(), 'ru')}}
                                        span.badge.bg-success(v-if="checkRec(item.data.source.toLowerCase().trim(), 'ru')") Rec: {{checkRec(item.data.source.toLowerCase().trim(), 'ru')}}
                                        span.badge.bg-success(v-if="checkRestream(item.data.source.toLowerCase().trim(), 'ru')") Stream: {{checkRestream(item.data.source.toLowerCase().trim(), 'ru')}}
                                td(style="padding:8px")
                                    div {{item.data.source ? ("rtmp://rtmp.sber.link/live/" + item.data.source.toLowerCase().trim() + "_en") : ""}}
                                    div
                                        span.badge.bg-success(v-if="checkPublish(item.data.source.toLowerCase().trim(), 'en')") Pub: {{checkPublish(item.data.source.toLowerCase().trim(), 'en')}}
                                        span.badge.bg-success(v-if="checkRec(item.data.source.toLowerCase().trim(), 'en')") Rec: {{checkRec(item.data.source.toLowerCase().trim(), 'en')}}
                                        span.badge.bg-success(v-if="checkRestream(item.data.source.toLowerCase().trim(), 'en')") Stream: {{checkRestream(item.data.source.toLowerCase().trim(), 'en')}}

            .statWr(v-if="section==0")
                table.table-bordered.mt-4.small.tabPAd#statTable
                    thead
                        td(style="padding:8px") дата
                        td(style="padding:8px") НАЗВАНИЕ СЕССИИ
                        td(style="padding:8px") Смотрят сейчас
                        td(style="padding:8px") Смотрело всего
                        td(style="padding:8px") Смотрело уникальных
                        td
                    tbody
                        tr(v-for="item in stat" )
                            td(style="padding:8px") {{moment(item.date).format('DD.MM  HH:mm')}}
                            td(style="padding:8px") {{item.data.title}}
                            td(style="padding:8px") ru:{{item.ru}}, en:{{item.en}}
                            td(style="padding:8px") ru:{{item.totalRu}}, en:{{item.totalEn}}
                            td(style="padding:8px") ru:{{item.unicRu}}, en:{{item.unicEn}}
                            td
                                .btn.btn-primary.btn-sm(@click="showStat(item)") график
                        tr()
                            td(style="padding:8px") Обновлено:
                            td(style="padding:8px") {{moment().format("DD:MM HH.mm")}}
                .btn.btn-primary.btn-sm(@click="getToExcel()") Скачать в Numbers (MAC)

            .eventWr(v-if="section==1")
                .btn.btn-primary.btn-sm(@click="addEvent()" v-if="!readonly") Add Event
                table.table-bordered.mt-4.small.tabPAd
                    thead
                        tr
                            //td.mobileHide( scope="col") #
                            td дата
                            //td НАЗВАНИЕ СЕССИИ
                            td Модератор:
                            td Статус:
                            td.mobileHide Источник сигнала:
                            td IFrame:
                            td.mobileHide(v-if="!readonly") запись рус:
                            td.mobileHide(v-if="!readonly") запись англ:


                    tbody(v-for="item in events")

                            tr(:class="'adminSelectRow'+item.data.select+' liveStatus'+item.data.status")
                                td(colspan="7" style="position: relative;")
                                    .tabName
                                        select.mayReadonly(v-model="item.data.select" v-on:change="saveEvent(item)" style="border:none" :disabled="readonly")
                                            option(value="0" selected) новая
                                            option(value="1") подтвержденная
                                            option(value="2") ожидаем
                                            option(value="3") отказ
                                        input.mayReadonly(v-model="item.data.title" style="border:none; padding:4px" v-on:change="saveEvent(item)" :readonly="readonly")


                            tr(:class="'adminSelectRow'+item.data.select+' liveStatus'+item.data.status")

                                td(v-on:click="changeDate($event, item)")
                                    span {{moment(item.date).format('DD.MM')}}
                                    spm <br>
                                    span {{moment(item.date).format('HH:mm')}}
                                    spm -
                                    span {{moment(item.dateEnd).format('HH:mm')}}
                                td


                                    input.mayReadonly(v-model="item.data.moderator" style="border:none; padding:4px" v-on:change="saveEvent(item)" :readonly="readonly")
                                td
                                    select.form-select.mayReadonly(v-model="item.data.status" v-on:change="saveEvent(item)" style="width: 117px;" :disabled="readonly")
                                        option(value="0" selected) Заглушка
                                        option(value="1") Эфир
                                        option(value="2") Запись
                                td.mobileHide
                                    input.mayReadonly(v-model="item.data.source" style="border:none; padding:4px" v-on:change="saveEvent(item)" :readonly="readonly")
                                td
                                    div(style="position: relative;")
                                        input.form-control-sm(:value="getIframeRu(item)" style="border:none; padding:4px" readonly="readonly")
                                        .btn-clipboard.btn-clipboard1(v-on:click="copyIFrameRu(item,$event)")  iframe ru
                                        .btn-clipboard(v-on:click="copyIFrameEn(item, $event)") iframe en

                                td.mobileHide(v-if="!readonly")
                                    input.mayReadonly(v-model="item.data.recRu" style="border:none; padding:4px" v-on:change="saveEvent(item)")

                                td.mobileHide(v-if="!readonly")
                                    input.mayReadonly(v-model="item.data.recEn" style="border:none; padding:4px" v-on:change="saveEvent(item)")
            .iFramesWr
                    .IframesItem(v-for="item in events")
                        .wrapper(v-html="getIframeRu(item)")
                        .iframeItemTile {{item.data.title}}  ru
                    .IframesItem(v-for="item in events")
                        .wrapper(v-html="getIframeEn(item)")
                        .iframeItemTile {{item.data.title}} en
            .modal#modal
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Статистика
                            button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="const myModal = new bootstrap.Modal(document.getElementById('modal'); myModal.hide();")
                        .modal-body
                            #chart
                        .modal-footer
                            button.btn.btn-secondary(type="button"  data-bs-dismiss="modal" aria-label="Close" ) Close
        script.
            var readonly="!{readonly}"=="true"
        script(src="/lib/vue.min.js")
        script(src="/lib/axios.min.js")
        script(src="/lib/moment.min.js")
        script(src="/lib/anychart-base.min.js")
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        script(src="/javascripts/spief2020adminScript.js")




