doctype html
html
  head
    title ГОСА
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link( rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
    <link href="https://unpkg.com/@silvermine/videojs-quality-selector/dist/css/quality-selector.css" rel="stylesheet">
    link(href="/fonts/stylesheet.css" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/body-pix@2.0"></script>
    script(src='javascripts/tstScript.js')
    style.
      .videoWrapper1{
        position: relative;
      }
      .videoWrapper2{
        border: 2px solid blue;
      }
      #mainCanvas0 {
        position: absolute;
        top:0;
        background-image: url(/images/conf.png);

      }
      .bgImage{
        position: absolute;
        top: 0
      }
  body
    div.videoWrapper0
      video#mainVideo
    div.videoWrapper2
      canvas#mainCanvas


