extends layout

block content
  style.
    .btn{
      cursor: pointer;
    }
    .container{
      align-items: flex-start;;
      justify-content: center;
    }
    .lUser {
    background: gray;
    padding: 10px;
      width: 360px;
      height: 240px;
    background-color: gray;
    padding: 10px;
    background: url(/images/no_profile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
      position: relative;
    }

    .rUser {
      width: 360px;
      height: 240px;
      position: relative;
      background: gray;
      background-color: gray;
      padding: 10px;
      background: url(/images/no_profile.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .USERTITLES{
      position: absolute;
      bottom: 0;
    }
    .form{
      margin-top:30px;
    }
    .formRow{
      margin-top:10px;
    }
    .formRow input {
      box-sizing: border-box;
      font-size: 24px;
      width: 100%;
      border:1px solid gray;
      padding: 6px;
    }
    .userI {
      display: inline-block;
      margin-right: 1em;
    }
    .uPlashka{
      background: rgba(0,0,0,.5);
      color:white;
      font-size: 24px;
      padding: 5px;
    }

    .userF {
      font-size: 24px;
      font-weight: bold;
    }

    .userP {
    }




  .container(style="padding:20px;display:flex")
    .l(style="margin:20px;width:calc(50% - 40px)")
      .lUser
        .USERTITLES
          .uPlashka
            .userI#u1I
            .userF#u1F
          .userP#u1P
      .form
          .formRow
            label Имя
            input.fc#s1I(PLACEHOLDER="имя")
          .formRow
            label Фамилия
            input.fc#s1F(PLACEHOLDER="фамилия")
          .formRow
              label Должность
              input.fc#s1P(PLACEHOLDER="Должность")
    .r(style="margin:20px;width:calc(50% - 40px)")
      .rUser
        .USERTITLES
          .uPlashka
            .userI#u2I
            .userF#u2F
          .userP#u2P
      .form
        .formRow
          label Имя
          input.fc#s2I(PLACEHOLDER="имя")
        .formRow
          label Фамилия
          input.fc#s2F(PLACEHOLDER="фамилия")
        .formRow
          label Должность
          input.fc#s2P(PLACEHOLDER="Должность")
  .formRow
          input.btn(type="button" value="Отправить" onClick="sendForm()")


  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>
  script.
   async function sendForm() {
      var res = await
      axios.post("/api/titleForm/", {a:{
        i:document.getElementById("s1I").value,
          f:document.getElementById("s1F").value,
              p:document.getElementById("s1P").value,
        },
        b: {
          i: document.getElementById("s2I").value,
          f: document.getElementById("s2F").value,
          p: document.getElementById("s2P").value,
        }
      });
      console.log();

     if (res.data.a) {
       if (res.data.a.i)
         document.getElementById("u1I").innerHTML = res.data.a.i;
       if (res.data.a.f)
         document.getElementById("u1F").innerHTML = res.data.a.f;
       if (res.data.a.p)
         document.getElementById("u1P").innerHTML = res.data.a.p;
     }
     if (res.data.b) {
       if (res.data.b.i)
         document.getElementById("u2I").innerHTML = res.data.b.i;
       if (res.data.b.f)
         document.getElementById("u2F").innerHTML = res.data.b.f;
       if (res.data.b.p)
         document.getElementById("u2P").innerHTML = res.data.b.p;
     }
    }

   async function updateTitles() {
     var res=await axios.get("/api/titlesjson/");
     console.log(res.data);
     if (res.data.a) {
       if (res.data.a.i)
         document.getElementById("u1I").innerHTML = res.data.a.i;
       if (res.data.a.f)
         document.getElementById("u1F").innerHTML = res.data.a.f;
       if (res.data.a.p)
         document.getElementById("u1P").innerHTML = res.data.a.p;
     }
     if (res.data.b) {
       if (res.data.b.i)
         document.getElementById("u2I").innerHTML = res.data.b.i;
       if (res.data.b.f)
         document.getElementById("u2F").innerHTML = res.data.b.f;
       if (res.data.b.p)
         document.getElementById("u2P").innerHTML = res.data.b.p;
     }
     setTimeout(updateTitles,5000)
   }
   updateTitles();


