body{
  margin:0;
  padding: 0;
  font-family: 'Fedra Sans Pro';
  font-weight: 100;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  width: 100%;
}
.videoWrapper video, .playWr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.playWr{
  display: none;
  align-items: center;
  justify-content: center;

}
.playWr svg{
  min-width: 50px;
  min-height: 50px;
  width: 25%;
  height: 25%;
  cursor: pointer;
}
.langBtn{
  background-color: #19bb4f;
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: 10px;
  cursor: pointer;
  opacity: .5;
  transition: opacity .5s ease;
  border-radius: 2px;
}
.helpBtn{
  background-color: #19bb4f;
  color: #fff;
  position: absolute;
  top: 10px;
  right: 60px;
  padding: 5px;
  font-size: 10px;
  cursor: pointer;
  opacity: .5;
  transition: opacity .5s ease;
  text-transform: uppercase;
  height: 26px;
  border-radius: 2px;
  padding-top: 8px;
  box-sizing: border-box;
}
.langBtn:hover,.helpBtn:hover {
  opacity:1;
}
#feedBackForm{
  position: absolute;
  top: 40px;
  right: 10px;
  background: rgba(0,0,0,.7);
  color: white;
  border-radius: 4px;
  padding: 10px;

}
input:focus, textarea:focus{
  outline: none !important;
}
#feedBackForm{
  display: none;
  width: 280px;
}
#feedBackForm.visible{
  display: block;
}

.feedBackFormInput, .feedBackFormSubmit{
  border: 0;
  background: white;
  color: black;
  padding: 4px;
  width: calc(100% - 8px);

  display: block;
  border-radius: 2px;
  margin: 10px 0;
}
.feedBackFormAres{
  border: 0;
  background: white;
  color: black;
  padding: 4px;
  width: calc(100% - 8px);
  resize: none;
  display: block;
  border-radius: 2px;
  margin: 10px 0;
  height: 6em;
}
.feedBackFormSubmit{
  background: #0fc446;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color:white;
}
.langBtn svg{
  width: 12px;
  height: 12px;
  margin-right: .5em;
}
.video-js, button{
  font-family: 'Fedra Sans Pro';
}
.video-js .vjs-big-play-button, .video-js:hover .vjs-big-play-button{
  top: calc(50% - (3em / 2));
  left: calc(50% - (3em / 2));
  height: 3em;
  border-radius: 50%;
  background-color: rgba(254, 203, 1 , .5);
  border-color: #21a037;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  text-align: center;
  top: .23em;
  font-size: 3em;
}
.vjs-loading-spinner {
  border: 6px solid #fecb01;
}
.video-js button{
  color: #21a037;
}
.vjs-live-display{
  color: #fecb01;
}
.js-focus-visible .vjs-menu li.vjs-selected:hover {
  background-color: transparent;
  color: #2B333F;
  outline: none;
}
.video-js .vjs-control:focus:before,
.video-js .vjs-control:hover:before,
.video-js .vjs-control:focus {
  text-shadow: none;
}
@keyframes vjs-spinner-fade {
  0% {
    border-top-color: #ff7a00;
  }
  20% {
    border-top-color: #ff7a00;
  }
  35% {
    border-top-color: white;
  }
  60% {
    border-top-color: #ff7a00;
  }
  100% {
    border-top-color: #ff7a00;
  }
}
@-webkit-keyframes vjs-spinner-fade {
  0% {
    border-top-color: #ff7a00;
  }
  20% {
    border-top-color: #ff7a00;
  }
  35% {
    border-top-color: white;
  }
  60% {
    border-top-color: #ff7a00;
  }
  100% {
    border-top-color: #ff7a00;
  }
}
#my-video{
  transition: opacity .5s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}