body {
  margin:0;
}
.video-js .vjs-time-control {
  display: block;
}
.video-js .vjs-current-time,  .vjs-current-time {
  display: block !important;
}
.video-js .vjs-remaining-time {
  display: none;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe, .videoWrapper video,.videoWrapper #my-video  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.iframeRow{
  display: flex;
  margin: 20px;
}
.iframeItem{
  padding: 4px;
  box-sizing: border-box;
}
.iframeItem1{
  width: 60px;
}
.iframeItem2{
  width: 60px;
}
.iframeItem3{
  width: ~"calc(100% - 120px)"
}
.iframeItem textarea{
  width: 100%;
  resize: none;
  height: 4em;
  padding: 2px;
}
.btnGroups{
  display: flex;
}
.btn{
  padding: 4px 8px;
  cursor: pointer;
  background-color: #0274a0;
  margin-left: 4px;
  color:white;
}

.Wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  width: 100%;
}
.Wrapper iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
